/* change page header*/
.page-header{
color: #ffffff;
font-size: 30px;
font-family: "Times New Roman", Times, serif;
background-color: #000000;
}

/* changes page header link to white*/
a[href^="index.html"]{ 
color: white;
}

/* removes underlines from links on scroll over */
a:link {
text-decoration: none;
color: white;
}
