/* change page header */
.page-header {
color: #F4F4F4;
font-size: 30px;
font-family: "Times New Roman", Times, serif;
background-color: #373737;
}

/* styles h1 */
h1 {
font-size: 2.5rem;
font-family: "Times New Roman", Times, serif;
font-weight: 500;
}

/* removes underlines from links on scroll over */
a:link {
text-decoration: none;
color: #F4F4F4;
}

/* changes visited links to white */
a:visited {
color: #F4F4F4;
}

/* style jumbotron */
.jumbotron {
background-color: #DCD0C0;
}

/* styles resume content */
div#resume {
color: #373737;
}

/* styles about content */
div#about {
color: #373737;
}

/* styels navbar */
nav.navbar {
background-color: #C0B283;
}
